html {
  font-size: 10px;
  font-family: "Spartan";
  margin: auto;
  scroll-behavior: smooth;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, rgb(255, 197, 193)),
    color-stop(0.67, rgb(255, 221, 170))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255, 197, 193) 33%,
    rgb(255, 221, 170) 67%
  );
  padding: 1rem;
}

body {
  font-size: 1.6rem;
  background-color: #fff;
}

/******  Typography  ******/

h1 {
  font-size: 4.4rem;
  line-height: 7.1rem;
  font-weight: 700;
  padding-bottom: 2.6rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 5.9rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 3.4rem;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 4.1rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.9rem;
}

small {
  font-size: 1.2rem;
  font-weight: 400;
}

  /*** Lists ***/
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #db3a00;
  font-weight: bold;
  display: inline-block;
  width: 2.7rem;
  margin-left: -2.7rem;
}

nav li::before {
  display: none;
}

  /*** Links ***/
a {
  text-decoration: none;
  color: #1c1c1c;
}

  /*** Logo ***/
.logo-text {
  font-weight: 700;
  bottom: 0;
  font-size: 2.4rem;
}

  /*** Bold span class ***/
.bold-copy {
  font-weight: 700;
}

/******  Buttons & Links  ******/

.button-primary {
  color: #fff;
  /* Accessible color*/
  background-color: #993700;
  /* Not accessible color*/
  background-color: #f55800;
  padding: 20px 51px;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 200px;
  cursor: pointer;
}

button:hover {
  background-color: #272525;
}


/* Removes outline around button*/
*:focus {
  outline: 0;
}

a:hover {
  color: #f55800;
}

/* Aligns element to the center*/
.center {
  margin: auto !important;
}


/******  Header  ******/

.header-main {
  font-size: 1.6rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 1042px;
  margin: auto;
  padding: 50px 0 20px 0;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align-last: right;
  font-size: 1.6rem;
  font-weight: 600;
}



/******  Hero  ******/

.hero {
  max-width: 1181px;
  margin: auto;
}

.hero-copy {
  padding-bottom: 2rem;
}

/******  Services Section ******/

.services {
  margin: auto;
}

.services-list {
  width: 90%;
  margin: auto;
  font-size: 1.8rem;
  line-height: 4.6rem;
  list-style-position: outside;
  /* padding-left: 26px; */
}

.services-links {
  padding: 20px 20px 40px;
}



/******  Challenges Section ******/

.challenges-content {
  max-width: 1043px;
  margin: auto;
}

.challenges-columns-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 1043px;
}

.challenges-box {
  padding: 68px 35px;
  border-radius: 47px;
}

.red {
  background-color: #fff0f0;
  color: #a10000;
}

.green {
  background-color: #f4f4ec;
  color: #033877;
}

.orange {
  background-color: #fff1e9;
  color: #993700;
}


/******  About  ******/
.about-copy {
  padding: 30px 0px 47px;
}

/******  Multiple Sections  ******/
.hero-content,
.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  /* Aligns both the content in the text and image columns to center */
  align-items: center;
}

.hero-text,
.services-text {
  /* max-width: 523px; */
  margin-left: 20%;
}


.hero-image,
.services-image,
.about-image {
  width: 85%;
  margin-right: 20%;
  display: block;
}

.challenges,
.services,
.about {
  background-color: #fff8f5;
}


/******  Testimonials  ******/
.testimonials-group {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10% 20px;
  padding: 40px 0 0;
}

.testimonials-image {
  background-size: contain;
  background-position: 15% 0%;
  background-image: url(../images/quotation.png);
  background-repeat: no-repeat;
  background-position: top;
}

.testimonials-copy {
  padding-top: 38px;
}

.testimonials-box {
  display: grid;
  grid-template-rows: auto 30px;
  grid-gap: 20px;
}

.testimonials-name {
  text-align: right;
}

/******  Footer Section  ******/
footer {
  background-color: #2a2c36;
}

.footer-content {
  max-width: 1043px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
}

.footer-text {
  color: #d4d5d7;
}

.footer-text .footer-logo {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-designer-logo {
  width: 48px;
  margin-left: 6px;
}








/******  Screens - screen size (min width) impacts layout ******/

@media (min-width: 0px) { /* 0px to 600px width screens */
  /******  Header Section ******/
  .header-main {
    grid-template-columns: 70% 1fr;
    padding: 30px 0 20px 0;
    width: 90%;
  }

  .logo-text {
    font-size: 1.8rem;
  }
  
  .nav-links {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 12px;
  }

  .about-link {
    display: none;
  }

  /******  Hero Section  ******/
  .hero-content,
  .about-content {
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5%;
    padding: 90px 0 40px;
    /* Aligns both the content in the text and image columns to center */
    align-items: center;
  }  
  
  .hero-copy {
    padding-bottom: 4.2rem;
  }  
  
  .hero-content {
    padding: 40px 0 80px;
  }

  .hero-title {
    text-align: center;
  }  

  /******  Challenges Section  ******/
  .challenges-columns-3 h3 {
    padding-bottom: 1.4rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
  } 
  .challenges-columns-3 h5 {
    line-height: 3.3rem;
  }  
  
  .challenges-content {
    width: 84%;
    margin: auto;
  }

  .challenges-columns-3 {
    margin: 50px auto;
  }

  /******  Companies Section  ******/
  .company-1 {
    padding-top: 8px;
    width: 146.41px;
    /* height: 78.47px; */
    justify-self: center;
  }

  .company-2 {
    padding-top: 19px;
    width: 134px;
    /* height: 34.11px; */
    justify-self: center;
  }

  .company-3 {
    padding-top: 14px;
    width: 224px;
    max-height: 59.1px;
    justify-self: center;
  }

  .company-4 {
    padding-top: 2px;
    width: 113px;
    /* height: 59.33px; */
    justify-self: center;
  }

  .company-5 {
    padding-top: 0px;
    width: 134px;
    /* height: 67px; */
    justify-self: center;
  }

  .company-1,
  .company-2,
  .company-3,
  .company-4,
  .company-5 {
    padding-top: 0px;
  }

  .company-2 {
    padding: 0 0 14px;
  }

  .companies-logos {
    margin: 20px auto 0;
  }  
  
  .companies-logos {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1119px;
    margin: auto;
    grid-gap: 20px;
    /* align-items: center; */
  }
  
  /******  Services Section  ******/
  .services-content {
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5%;
    /* Aligns both the content in the text and image columns to center */
    align-items: center;
  }
  
  .services-text .title-left {
    text-align: center;
    width: 88%;
  } 

  /******  About Section  ******/
  .about-content {
    padding: 0;
  }  
  
  .about-image {
    width: 70%;
  }
  .about-content {
    width: 84%;
    margin: auto;
  }

  /******  Multiple Sections  ******/
  .hero-image,
  .services-image,
  .about-image {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 5rem;
  }

  .hero-text,
  .services-text {
    width: 84%;
    margin: auto;
  }

  .challenges,
  .companies,
  .testimonials,
  .about,
  .services {
    padding: 90px 0;
  }

  /******  Typography  ******/
  h1 {
    font-size: 3.6rem;
    line-height: 4.7rem;
  }

  h2 {
    width: 84%;
    max-width: 600px;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 3.6rem;
    margin: auto;
  }

  /******  Misc  ******/
  /* There are two image files - one for mobile and one for desktop. Code below ensures the right image appears based on the screen size.  */

  /* Mobile images appears on mobile screens */
  .mobile {
    display: block;
  }
  
  /* Hides mobile image on desktop */
  .desktop {
    display: none;
  }

  /******  Buttons  ******/
  .button-primary {
    display: block;
    margin: auto;
  }

  /******  Testimonials  ******/
  .testimonials-group {
    grid-template-columns: 1fr;
    grid-gap: 40px 90px;
    width: 84%;
  }

  /******  Footer  ******/
  .footer-content {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-gap: 20px;
    padding: 40px 0;
  }

  .footer-text {
    color: #d4d5d7;
    margin: auto 0;
  }

  .footer-text .footer-logo {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
  }

  .footer-designer-logo {
    width: 48px;
  }

  .footer-text .last {
    text-align: right;
  }

  .footer-text center {
    margin: auto;
  }

  .footer-text-content {
    justify-items: normal;
    display: grid;
    grid-template-columns: 180px auto;
    margin: auto;
    max-width: 250px;
  }

  .footer-text-content small {
    line-height: 2.7rem;
  }

  .footer-center {
    line-height: 4rem;
  }

  .social {
    color: #ffc5c1;
    font-size: 1.4rem;
    font-weight: 700;
  }
}



@media (min-width: 600px) { /* 600px to 800px width screens */
  /******  Header Section  ******/
  .header-main {
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 20px 0;
    width: 90%;
  }

  .nav-links {
    grid-template-columns: auto 130px;
  }
  
  /******  Hero Section  ******/
  .hero-content {
    padding: 90px 0 90px;
  }
  
  .hero-image {
    width: 60%;
  }

  /******  Challenges Section  ******/
  .challenges-columns-3 h3 {
    padding-bottom: 2rem;
  }

  
  .companies-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .company-1 {
    padding-top: 8px;
    width: 146.41px;
    /* height: 78.47px; */
    justify-self: center;
  }

  .company-2 {
    padding-top: 19px;
    width: 134px;
    /* height: 34.11px; */
    justify-self: center;
  }

  .company-3 {
    padding-top: 14px;
    width: 224px;
    max-height: 59.1px;
    justify-self: center;
  }

  .company-4 {
    padding-top: 2px;
    width: 113px;
    /* height: 59.33px; */
    justify-self: center;
  }

  .company-5 {
    padding-top: 0px;
    width: 134px;
    /* height: 67px; */
    justify-self: center;
  }  
  
  /******  About Section  ******/
  .about-link {
    display: grid;
  }

  /******  Misc Section  ******/
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /******  Multiple Section  ******/
  .challenges,
  .companies,
  .testimonials,
  .about,
  .services {
    padding: 114px 0;
  }

  /******  Typography  ******/
  h1 {
    font-size: 3.9rem;
    line-height: 5.4rem;
    font-weight: 700;
    padding-bottom: 2.6rem;
  }
}

@media (min-width: 800px) {

  /******  Header Section  ******/
  .logo-text {
    font-size: 2.4rem;
  }

  .companies-logos {
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
  }

  /******  Challenges Section  ******/
  .challenges-columns-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    max-width: 1043px;
    margin: 70px auto;
  }

  /******  Companies Section  ******/
   .companies-group {
    padding-top: 0rem;
  }

  /******  Multiple Sections  ******/
  .hero-text,
  .services-text {
    width: 100%;
    padding: 0;
    max-width: 600px;
  }  
  
  /******  Typography  ******/
  h1 {
    font-size: 3.3rem;
    line-height: 5.2rem;
    font-weight: 700;
    padding-bottom: 2.6rem;
  }


  h2 {
    width: 90%;
    max-width: 600px;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 5.2rem;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .testimonials-group {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  
  /******  Hero Section  ******/
  .hero-content {
    grid-template-columns: 50% auto;
    padding: 116px 5%;
  }
  
  .hero-title {
    text-align: left;
  }

  .hero-image {
    width: 90%;
    margin: auto 0px auto 10%;
  }
  
  /******  Challenges Section  ******/
  .challenges-columns-3 h5 {
    line-height: 3.9rem;
  }
  
  /******  Companies Section  ******/
  .companies-logos {
    padding-top: 20px;
  }

  /******  Services Section  ******/
  .services-content {
    grid-template-columns: 50% auto;
    max-width: 1043px;
    width: 90%;
  }
  
  .services-text .title-left {
    text-align: left;
    width: 100%;
  }

  /******  About Section  ******/
  .about-content {
    grid-template-columns: 55% auto;
    padding: 0;
    max-width: 1043px;
  }

  /******  Testimonials Section  ******/
  .testimonials-group {
    max-width: 1043px;
  }

  /******  Multiple Sections  ******/
  .hero-image,
  .services-image,
  .about-image {
    width: 85%;
    margin: auto;
    display: block;
  }

  /******  Buttons  ******/
  .button-primary {
    margin: 0;
  }

  /******  Challenges Section  ******/
  .challenges {
    padding: 116px 0;
  }

  .challenges-columns-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1043px;
    margin: 70px auto;
  }

  .challenges-columns-3 h3 {
    max-width: 240px;
  }

  .challenges-columns-3 h5 {
    line-height: 3.4rem;
  }

  .challenges-box {
    padding: 68px 52px;
    border-radius: 47px;
  }

  /******  Misc Section  ******/
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  /******  Footer Section  ******/
  .footer-content {
    max-width: 1043px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 22px 0;
  }

  .footer-text .footer-logo {
    text-align: left;
  }

  .footer-text-content {
    justify-items: end;
    display: grid;
    grid-template-columns: 80% auto;
  }

  .footer-text-content small {
    line-height: 2.7rem;
  }

  .footer-center {
    line-height: 3rem;
  }

  /******  Typography  ******/
  h1 {
    font-size: 3.9rem;
    line-height: 5.8rem;
    font-weight: 700;
    padding-bottom: 2.6rem;
  }
  
  h2 {
    max-width: 694px;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 5.9rem;
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  /******  Companies Section  ******/
  .companies-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1119px;
    margin: auto;
    /* align-items: center; */
  }   
  
  /******  Challenges Section  ******/
  .challenges-columns-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1043px;
  }

  /******  Typography  ******/
  h1 {
    font-size: 4.4rem;
    line-height: 7.1rem;
    font-weight: 700;
    padding-bottom: 2.6rem;
  }
}
